/*@mixin ease($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}*/
/*@mixin img{
    
    .img-greetings{
        max-width: 100%;
        text-align: center;
        vertical-align: middle;
        margin: auto;
        display: block;
    }
    .img-hover{
        display: none;
    }
    &:hover{
        .img-greetings{
            display: none;
        }

        .img-hover{
            max-width: 100%;
            text-align: center;
            vertical-align: bottom;
            margin: auto;
            display: block;
        }
    }
}
*/
/*@mixin home($grn-white, $home){
    a{
        color: $grn-white;
    }
    background-color: $home;
    &:hover{
        a{
            color: $home;
        }
        background-color: $grn-white;
    }
} */
/* line 1, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
.nav {
  height: auto; }

/* line 5, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
body {
  margin: 0;
  padding: 0;
  background-color: #FF7470; }

/* line 11, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
.text {
  position: absolute;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #FEFFEF;
  width: 100%;
  top: 200px;
  text-transform: uppercase;
  font-size: 1.1em; }

/* line 24, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
.toggle {
  display: none;
  width: 40px;
  text-align: center;
  height: auto;
  right: 40px;
  float: right;
  position: relative;
  z-index: 999; }

/* line 34, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
.toggle:hover {
  cursor: pointer; }

/* line 37, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
.toggle div {
  border: solid 4px #FEFFEF;
  width: 100%;
  margin-top: 5px;
  background: #FEFFEF;
  float: left;
  position: relative;
  clear: both;
  transition: all 0.5s; }

/* line 55, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
#barOne, #barTwo, #barThree {
  transition: all 0.5s;
  position: relative;
  border: solid 4px #FEFFEF;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0; }

/* line 72, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
.left {
  border-radius: 6px;
  -webkit-transform: rotate(48deg);
  -ms-transform: rotate(48deg);
  transform: rotate(48deg);
  transition: all 0.5s;
  border: solid 6px #FEFFEF;
  right: 20px !important; }

/* line 92, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
.right {
  border-radius: 6px;
  -webkit-transform: rotate(-2028deg);
  -ms-transform: rotate(-2028deg);
  transform: rotate(-2028deg);
  transition: all 0.5s;
  left: 0px !important;
  border: solid 6px #FEFFEF;
  top: -12px !important; }

/* line 113, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
.down {
  border-radius: 6px;
  -webkit-transform: rotate(-1080deg);
  -ms-transform: rotate(-1080deg);
  transform: rotate(-1080deg);
  transition: all 0.5s;
  opacity: 0; }

/* line 133, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
.bar {
  width: 100%;
  position: absolute;
  height: auto;
  overflow: hidden;
  background: #4ACEC5;
  padding-top: 30px;
  box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.25); }
  /* line 144, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
  .bar ul {
    list-style: none;
    padding: 0;
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    /* line 156, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
    .bar ul li {
      display: inline-block; }
      /* line 159, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
      .bar ul li:before {
        content: " | ";
        color: #FEFFEF;
        padding: 0 10px 0;
        font-size: 1.6em; }
      /* line 165, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
      .bar ul li:first-child:before {
        content: ""; }
      /* line 168, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
      .bar ul li a {
        font-family: 'Raleway', sans-serif;
        color: #FEFFEF;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.6em;
        border-bottom: solid 1px #FEFFEF;
        border-top: solid 1px #FEFFEF;
        padding: 40px 0 40px 0;
        transition: all 0.4s ease; }
        /* line 179, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
        .bar ul li a:hover {
          transition: all 0.4s ease;
          padding: auto;
          padding: 0; }

@media only screen and (max-width: 768px) {
  /* line 190, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
  .toggle {
    display: block; }

  /* line 194, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
  .nav {
    height: 0; }

  /* line 198, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
  .height {
    top: 89px !important;
    left: 0 !important;
    margin-top: 149px !important;
    transition: all 0.5s; }

  /* line 209, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
  .text {
    display: none; }

  /* line 213, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
  .bar {
    overflow: visible;
    padding-bottom: 20px; }

  /* line 217, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
  .bar ul {
    text-align: left;
    margin-bottom: 0;
    margin-top: 0;
    background: #5B5B5B;
    position: absolute;
    width: 100%;
    margin-top: 149px;
    top: 89px;
    height: auto;
    margin-bottom: -110px;
    padding: 20px 0 20px 0;
    z-index: 5;
    left: -1000px;
    transition: all 0.5s; }
    /* line 237, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
    .bar ul li {
      display: block;
      margin: 10px 0;
      padding: 10px; }
      /* line 242, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
      .bar ul li:before {
        content: ""; }
      /* line 245, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
      .bar ul li:hover {
        background-color: #FF7470; }
      /* line 248, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
      .bar ul li a {
        border: none; }
 }
