/*@mixin ease($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}*/
/*@mixin img{
    
    .img-greetings{
        max-width: 100%;
        text-align: center;
        vertical-align: middle;
        margin: auto;
        display: block;
    }
    .img-hover{
        display: none;
    }
    &:hover{
        .img-greetings{
            display: none;
        }

        .img-hover{
            max-width: 100%;
            text-align: center;
            vertical-align: bottom;
            margin: auto;
            display: block;
        }
    }
}
*/
/*@mixin home($grn-white, $home){
    a{
        color: $grn-white;
    }
    background-color: $home;
    &:hover{
        a{
            color: $home;
        }
        background-color: $grn-white;
    }
} */
/* line 1, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
.nav {
  height: auto; }

/* line 5, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
body {
  margin: 0;
  padding: 0;
  background: url(../img/background.jpg) no-repeat center center fixed;
  background-size: cover; }

/* line 18, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
.text {
  position: absolute;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #FEFFEF;
  width: 100%;
  top: 200px;
  text-transform: uppercase;
  font-size: 0.9em; }

/* line 31, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
.toggle {
  display: none;
  width: 40px;
  text-align: center;
  height: auto;
  right: 40px;
  float: right;
  position: relative;
  z-index: 999; }
  /* line 41, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
  .toggle:hover {
    cursor: pointer; }

/* line 45, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
.toggle div {
  width: 100%;
  margin-top: 5px;
  background: #FEFFEF;
  float: left;
  position: relative;
  clear: both;
  transition: all 0.5s; }

/* line 57, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
#barOne, #barTwo, #barThree {
  position: relative;
  border: solid 4px #FEFFEF;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  transition: all 0.5s; }

/* line 68, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
.left {
  border: solid 6px #FEFFEF;
  right: 20px !important;
  -webkit-transform: rotate(48deg);
  -ms-transform: rotate(48deg);
  transform: rotate(48deg);
  transition: all 0.5s; }

/* line 76, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
.right {
  left: 0px !important;
  border: solid 6px #FEFFEF;
  top: -12px !important;
  -webkit-transform: rotate(-2028deg);
  -ms-transform: rotate(-2028deg);
  transform: rotate(-2028deg);
  transition: all 0.5s; }

/* line 85, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
.down {
  opacity: 0;
  -webkit-transform: rotate(-1080deg);
  -ms-transform: rotate(-1080deg);
  transform: rotate(-1080deg);
  transition: all 0.5s; }

/* line 93, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
.bar {
  width: 100%;
  position: absolute;
  height: auto;
  overflow: hidden;
  background: #4ACEC5;
  padding-top: 30px;
  box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.25); }
  /* line 104, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
  .bar ul {
    list-style: none;
    padding: 0;
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    /* line 116, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
    .bar ul li {
      display: inline-block; }
      /* line 119, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
      .bar ul li:before {
        content: " | ";
        color: #FEFFEF;
        padding: 0 10px 0;
        font-size: 1.6em; }
      /* line 125, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
      .bar ul li:first-child:before {
        content: ""; }
      /* line 128, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
      .bar ul li a {
        font-family: 'Raleway', sans-serif;
        color: #FEFFEF;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.6em;
        border-bottom: solid 1px #FEFFEF;
        border-top: solid 1px #FEFFEF;
        padding: 40px 0 40px 0;
        transition: all 0.4s ease; }
        /* line 139, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
        .bar ul li a:hover {
          padding: 0.25em;
          transition: all 0.4s ease; }

@media only screen and (max-width: 768px) {
  /* line 150, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
  .toggle {
    display: block; }

  /* line 154, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
  .nav {
    height: 0; }

  /* line 158, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
  .height {
    top: 89px !important;
    left: 0 !important;
    margin-top: 149px !important;
    transition: all 0.5s; }

  /* line 165, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
  .text {
    display: none; }

  /* line 169, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
  .bar {
    overflow: visible;
    padding-bottom: 20px; }

  /* line 173, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
  .bar ul {
    text-align: left;
    margin-bottom: 0;
    margin-top: 0;
    background: #6E6D6E;
    position: absolute;
    width: 100%;
    margin-top: 149px;
    top: 89px;
    height: auto;
    margin-bottom: -110px;
    padding: 20px 0 20px 0;
    z-index: 5;
    left: -1000px;
    transition: all 0.5s; }
    /* line 189, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
    .bar ul li {
      display: block;
      margin: 10px 0;
      padding: 10px; }
      /* line 194, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
      .bar ul li:before {
        content: ""; }
      /* line 197, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
      .bar ul li:hover {
        background-color: #FF7470;
        font-size: 1.1em; }
      /* line 201, /Users/Jennifer/Documents/GD_Semester_6/web dev/exercise-4/scss/components/main */
      .bar ul li a {
        border: none; }
 }
