// variables

//fonts
$nav-font:'Raleway', sans-serif;

//colours
$header-color: #4ACEC5;
$drop-down-color: #6E6D6E; 
$background: #FF7470; //drop-down-hover-state
$white: #FEFFEF;
$h1-color: #6E6D6E;
