.nav {
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  //background-color: $background;
    
  background:url(../img/background.jpg) no-repeat center center fixed; 
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.text {
  position: absolute;
  text-align: center;
  font-family: $nav-font;
  color: $white;
  width: 100%;
  top: 200px;
  font-size: 1.5em;
  line-height: 3em;
}


// toggle mixin with hover
.toggle {
  display: none;
  width: 40px;
  text-align: center;
  height: auto;
  right: 40px;
  float: right;
  position: relative;
  z-index: 999;

  &:hover {
    cursor: pointer;
  }
}
.toggle div {
  width: 100%;
  margin-top: 5px;
  background: $white;
  float: left;
  position: relative;
  clear: both;
  @include toggle-btn-transition();
}

#barOne,
#barTwo,
#barThree {
  position: relative;
  border: solid 4px $white;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  @include toggle-btn-transition();   
}


.left {
  border: solid 6px $white;
  right: 20px !important;
  @include rotate(48deg);
  @include toggle-btn-transition();
}


.right {
  left: 0px !important;
  border: solid 6px $white;
  top: -12px !important;
  @include rotate(-2028deg);
  @include toggle-btn-transition();
}


.down {
  opacity: 0;
  @include rotate(-1080deg);
  @include toggle-btn-transition();
}


//expanded nav for large screen
.bar {
  width: 100%;
  position: absolute;
  height: auto;
  overflow: hidden;
  background: $header-color;  
  padding-top: 30px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.25);
  box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.25);

 ul {
   list-style: none;
    padding: 0;
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    
    li {
        display: inline-block;

        &:before {
          content: " | ";
          color: $white;
          padding: 0 10px 0;
          font-size: 1.6em;
        }
        &:first-child:before {
            content: "";
        }
        a {  
          font-family: $nav-font;
          color: $white;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 1.6em;
          border-bottom: solid 1px $white;
          border-top: solid 1px $white;
          padding: 40px 0 40px 0;
          @include header-nav-hover-state();
       
          &:hover { 
              //padding: auto;
              padding: .25em; //animate with larger padding
              @include header-nav-hover-state(); 
          }
        }
     }
  }
}

@media only screen and (max-width: 768px) { 
  .toggle {
    display: block;
  }

  .nav {
    height: 0;
  }

  .height { 
    top: 89px !important;
    left: 0 !important;
    margin-top: 149px !important;
    @include toggle-btn-transition();
  }
    
  .text {
    font-size: 1.2em;
  }

    
  .bar {
    overflow: visible;
    padding-bottom: 20px;
  }
  .bar ul { 
    text-align: left;
    margin-bottom: 0;
    margin-top: 0;
    background: $drop-down-color;
    position: absolute;
    width: 100%;
    margin-top: 149px;
    top: 89px;
    height: auto;
    margin-bottom: -110px;
    padding: 20px 0 20px 0;
    z-index: 5;
    left: -1000px;
    @include toggle-btn-transition();
      
    li {
      display: block;
      margin: 10px 0;
      padding: 10px;
  
      &:before {
        content: "";
        }
      &:hover {
        background-color: $background;
        font-size: 1.1em; //animate with larger font size
        }
      a {
        border: none;
      }
        
     }
   }
}